.header__main
  %h1.header__main--title
    =link_to "book house", root_path
  - if user_signed_in?
    .guest-mypage
      = link_to "マイページ", mypages_path, class: "guest-mypage--btn"
  - else
    .guest-mypage
      = link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "guest-mypage--btn"
.header__navi
  %ul.header__navi__menu
    %li.header__navi__menu--list
      = link_to "ホーム", root_path
    %li.header__navi__menu--list
      = link_to "おすすめ", recommendations_path
    %li.header__navi__menu--list
      = link_to "コラム"
  - if user_signed_in?
    %ul.header__navi__user
      %li
        = link_to "ログアウト", destroy_user_session_path, { method: :delete, data: {confirm: "ログアウトしますか？"}, class: "header__navi__user--info"}
      %li
        = link_to "投稿する", new_book_path, class: "header__navi__user--info"
  - else
    %ul.header__navi__user
      %li
        = link_to "ログイン", new_user_session_path, class: "header__navi__user--info"
      %li
        = link_to "新規登録", new_user_registration_path, class: "header__navi__user--info"