.header__main
  %h1.header__main--title
    book house
.header__navi
  %ul.header__navi__menu
    %li.header__navi__menu--list
      = link_to "ホーム"
    %li.header__navi__menu--list
      = link_to "おすすめ"
    %li.header__navi__menu--list
      = link_to "コラム"
  %ul.header__navi__user
    %li.header__navi__user--info
      = link_to "ログイン"
    %li.header__navi__user--info
      = link_to "新規登録"