.main-wrapper
  .main-header
    %p.breadcrumb
      = "仕事 > IT"
    %h1.mani-category
      = "仕事"
  .main-content
    .book-list
      %ul
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"
        %li
          .book-img
            = image_tag '/assets/book-3088775_1920.jpg'
          .book-description
            .book-description__title
              = "鬼滅の刃"
            .book-description__article
              = "時は大正時代。炭を売る心優しき少年・炭治郎の日常は、家族を鬼に皆殺しにされたことで一変する。"
            .book-description__like
              = "like"