.main-wrapper
  .main-header
    %p.breadcrumb
      = "仕事 > IT"
    %h1.mani-category
      = "最新の記事"
  .main-content
    .book-list
      %ul
        - @new_books.each do |book|
          = link_to book_path(book) do
            %li
              .book-img
                = image_tag book.image.url
              .book-description
                .book-description__title
                  = book.article_title
                .book-description__article
                  = book.article
                .book-description__like
                  = "♡ 28"