.side-wrapper
  .main-category__container
    .main-category__section
      .main-category__title
        = "> 仕事"
        .sub-category
          .sub-category__title
            = link_to "IT"
          .sub-category__title
            = link_to "金融"
          .sub-category__title
            = link_to "自己啓発"
      .main-category__title
        = "> 趣味"
        .sub-category
          .sub-category__title
            = link_to "IT"
          .sub-category__title
            = link_to "金融"
          .sub-category__title
            = link_to "自己啓発"
      .main-category__title
        = "> くらし"
        .sub-category
          .sub-category__title
            = link_to "IT"
          .sub-category__title
            = link_to "金融"
          .sub-category__title
            = link_to "自己啓発"
      .main-category__title
        = "> 小説"
        .sub-category
          .sub-category__title
            = link_to "文学"
          .sub-category__title
            = link_to "歴史"
          .sub-category__title
            = link_to "フィクション"