.side-wrapper
  .main-category__container
    .main-category__section
      .main-category__title.js-accordion-title
        %p 仕事
      .js-accordion-content
        .sub-category
          .sub-category__title
            = link_to "IT"
          .sub-category__title
            = link_to "金融"
          .sub-category__title
            = link_to "自己啓発"
      .main-category__title.js-accordion-title
        %p 趣味
      .js-accordion-content
        .sub-category
          .sub-category__title
            = link_to "スポーツ"
          .sub-category__title
            = link_to "釣り"
          .sub-category__title
            = link_to "キャンプ"
      .main-category__title.js-accordion-title
        %p くらし
      .js-accordion-content
        .sub-category
          .sub-category__title
            = link_to "家計"
          .sub-category__title
            = link_to "日用品"
          .sub-category__title
            = link_to "雑貨"
      .main-category__title.js-accordion-title
        %p 小説
      .js-accordion-content
        .sub-category
          .sub-category__title
            = link_to "文学"
          .sub-category__title
            = link_to "歴史"
          .sub-category__title
            = link_to "フィクション"