.side-wrapper
  .main-category__container
    .main-category__section
      .main-category__title.js-accordion-title
        %p
          = @categories[0].name
      .js-accordion-content
        .sub-category
          - @categories_1.each do |category_1|
            .sub-category__title
              = link_to category_path(category_1.id) do
                = category_1.name
      .main-category__title.js-accordion-title
        %p
          = @categories[1].name
      .js-accordion-content
        .sub-category
          - @categories_2.each do |category_2|
            .sub-category__title
              = link_to  category_path(category_2.id) do
                = category_2.name
      .main-category__title.js-accordion-title
        %p
          = @categories[2].name
      .js-accordion-content
        .sub-category
          - @categories_3.each do |category_3|
            .sub-category__title
              = link_to  category_path(category_3.id) do
                = category_3.name
      .main-category__title.js-accordion-title
        %p
          = @categories[3].name
      .js-accordion-content
        .sub-category
          - @categories_4.each do |category_4|
            .sub-category__title
              = link_to category_path(category_4.id) do
                = category_4.name
      .main-category__title.js-accordion-title
        %p
          = @categories[4].name
      .js-accordion-content
        .sub-category
          - @categories_5.each do |category_5|
            .sub-category__title
              = link_to category_path(category_5.id) do
                = category_5.name
      .main-category__title.js-accordion-title
        %p
          = @categories[5].name
      .js-accordion-content
        .sub-category
          - @categories_6.each do |category_6|
            .sub-category__title
              = link_to category_path(category_6.id) do
                = category_6.name
      .main-category__title.js-accordion-title
        %p
          = @categories[6].name
      .js-accordion-content
        .sub-category
          - @categories_7.each do |category_7|
            .sub-category__title
              = link_to category_path(category_7.id) do
                = category_7.name