.header-wrapper
  = render "header"

.show-wrapper
  .show-main
    .book-info
      .book-info__img
        = image_tag @selected_book.image.url
      .book-info__detail
        %h1.book-info__detail--title
          = @selected_book.book_title
        %p.book-info__detail--poster
          = "田中 太郎"
        %P.book-info__detail--post-date
          = @selected_book.created_at
        %p.book-info__detail--review
          = "★ ★ ★ ★ ★"
        %p.book-info__detail--like
          = "♡ 28"
    .post-info
      .post-info__title
        = @selected_book.article_title
      .post-info__article
        = @selected_book.article