.header-wrapper
  = render "header"

.show-wrapper
  .show-main
    .book-info
      .book-info__img
        = image_tag @selected_book.image.url
      .book-info__detail
        %h1.book-info__detail--title
          = @selected_book.book_title
        %p.book-info__detail--poster
          = "田中 太郎"
        %P.book-info__detail--post-date
          = @selected_book.created_at
        %p.book-info__detail--review{ id: "star-evaluation-#{@selected_book.id}" }
          :javascript
            $('#star-evaluation-#{@selected_book.id}').raty({
              starOff: "#{asset_path('star-off.png')}",
              starOn: "#{asset_path('star-on.png')}",
              starHalf: "#{asset_path('star-half.png')}",
              half: true,
              readOnly: true,
              score: "#{@selected_book.evaluation}",
            });
        %p.book-info__detail--point
          = @selected_book.evaluation
        .like-btn
          .like-box
            = render partial: "like_ajax", locals: { book: @selected_book }
    .post-info
      .post-info__title
        = @selected_book.article_title
      .post-info__article
        = @selected_book.article
      .like-btn
        .like-box
          = render partial: "like_ajax", locals: { book: @selected_book }