.devise-header
  .devise-header__main
    %h1.devise-header__main--title
      =link_to "book house", root_path
    .devise-header__main--login
      = link_to "新規登録はこちら", new_user_registration_path
.login-body
  .login-body__area
    .login-form
      %p.login-form__title
        = "ログイン"
      .login-form__box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-form__box__input
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "login-form__box__input--style"
          .login-form__box__input
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login-form__box__input--style"
          %p.login-form__box__forget
            = link_to "パスワードを忘れた方", new_password_path(resource_name)
          .login-form__box__submit
            = f.submit "ログイン", class: "login-form__box__submit--btn"
